<div class="title-index-cards">
  <h1>Flats to rent</h1>
</div>

<div class="buttons-index-cards">
  <%= link_to "Add an offer", new_flat_path, class:"button-black-yellow" %>
  <%= link_to "All my booking", bookings_path, class:"button-black-yellow" %>
</div>

<div id="container">
  <% @flats.each do |flat| %>
    <div class="cards-index-global">
      <div class="image-cards">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      </div>
      <div class="card-details">
        <%= link_to flat_path(flat) do %>
          <strong><%= flat.name %></strong>
          Description:<%= flat.text %>
          Address:<%= flat.address %>
          Price:<%= flat.price %>€ /night
        <% end %>
      </div>
    </div>
  <% end %>
</div>
